<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/preloader.css') }}">
    <title>Image Processing</title>
</head>

<body class="d-flex justify-content-center flex-column align-items-center" style="height: 100vh;">

<form method="POST" id="img_choose" enctype="multipart/form-data">
    <input type="file" name="img" id="img" class="input-img">
    <label for="img" class="btn btn-tertiary img_upload_label">
        <i class="icon fa fa-download"></i>
        <span class="img_name">Choose a image</span>
    </label>
</form>
<section class="column justify-content-center mt-5" style="gap:30px">
    <div id="preview">
        <div class="bar-loader d-flex justify-content-center align-items-center">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="result" class="d-flex justify-content-center align-items-center" style="gap:10px">

    </div>
</section>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>